		<div  style="padding-left:20px; padding-right:20px">
			<div class="container">
				<h1>New Event</h1>
				<hr/>
				<form name="newEventForm">
					<fieldset>
						<label for="eventName">Event Name</label>
						<input id="eventName" type="text" required ng-model="event.name" placeholder="Name of your event..."/>
						<label for="eventDate">Event Date</label>
						<input id="eventDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (nmm/dd/yyyy)..."/>
						<label for="eventTime">Event Time</label>
						<input id="eventTime" type="text" ng-model="event.time" placeholder="Start and end time..."/>
						<label for="eventLocation">Event Location</label>
						<input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Venue of event..."/>
						<br/>
						<input id="eventCity" type="text" ng-model="event.location.city" placeholder="City..."/>
						<input id="eventState" type="text" ng-model="event.location.state" placeholder="State..."/>
						
						<label for="eventImageUrl">Image:</label>
						<input id="eventImageUrl" type="url" ng-model="event.imageUrl"class="input-xlarge" placeholder="URL of Image"/>
					</fieldset>
					
					<img ng-src="{{event.imageUrl}}" src="">
					<br/>
					<br/>
					
					<button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
					<button type="button" ng-click="cancelEdit()"class="btn btn-default">Cancel</button>
				</form>
			</div>
		</div>
